
*{
margin: px;
padding: 0%;
}

[contenteditable="true"]:active,
[contenteditable="true"]:focus{
  border:none;
  outline:none;
}
body{
  position: absolute; 
  top: 0;
  left: 0; 
  width: 100%;
  height: 100%;
}


ehh{
  position: absolute; 
  left: 0;
  top: 0; 
  font-size: 21px;
  font-family: 'poppins';
  grid-template: auto 1fr auto / auto 1fr auto;
}
h1{
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 34px;
  
}

footer {  
  position: absolute;
right: 1%;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
}