*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
 }

[contenteditable="true"]:active,
[contenteditable="true"]:focus{
  border:none;
  outline:none;
}

body{
  position: absolute; 
  right: 0;
  bottom: 0; 
  height: 100vh;
}

ehh{
  position: fixed; 
  right: 0;
  bottom: 0;
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-rows:  1fr auto;
  
}

content{
   grid-column: 2 / 3;
   padding-left: 144 px;
   display: grid;
   width: 100%;
   height: 100%;
}

section{
 
 display: grid;
 place-content: center;
 font-size: 16px;
 font-family: 'poppins';

 vertical-align: middle
 
}

footer {  
  padding: 2rem;
  text-align: center;
  grid-column: 1 / 4;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
}

actionBar{
  
  padding-top: 2rem;
}
button {
  border-radius: 3px;
   border: none;
   padding: 13px 32px;
  text-align: center;
   display: inline-block;
   font-size: 16px;
}



brandAssets{
  margin: 21px;
  padding: 13px;
  height: 125px; 
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 21px;
  font-weight: 100;
}

.searchBar{
  padding-left: 13px;
  padding: 8px;
  margin-left: 54px;
  margin-right: 54px;
  font-family: 'Poppins', sans-serif;  
  border-radius: 3px;
  border: none;
  font-size: 21px;
  width: 300px;
  -webkit-transition: width .35s ease-in-out;
  transition: width .35s ease-in-out;
  
}

.searchBar:focus {
  width: 500px;
}



newElement{
  display: inline-block;
  position: fixed;
  resize: both;
  border-radius: 13px;
  border: 3px solid red;
}


h1{
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 34px;
}
