*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  background-color: #eeeeee;
}

[contenteditable="true"]:active,
[contenteditable="true"]:focus{
  border:none;
  outline:none;
}

body{
  position: absolute; 
  right: 0;
  bottom: 0; 
  height: 100vh;
}

ehh{
  position: fixed; 
  right: 0;
  bottom: 0;
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-rows:  1fr auto;
  
}

content{
   grid-column: 2 / 3;
   padding-left: 144 px;
   display: block;
   width: 100%;
   height: 100%;
}
section{
  display: inline-block;
 font-size: 21px;
 font-family: 'poppins';
 border-style: solid;
 background-color: blueviolet;
}

footer {  
  padding: 2rem;
  text-align: center;
  grid-column: 1 / 4;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
}



video {
position: fixed;
right: 0;
bottom: 0;
width: auto;
height: auto;
min-width: 100%; 
min-height: 100%;
-webkit-filter:blur(3px);
filter:blur(3px);
}


brandAssets{
  margin: 21px;
  padding: 13px;
  height: 125px; 
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 21px;
  font-weight: 100;
}

.searchBar{
  padding-left: 13px;
  padding: 8px;
  margin-left: 54px;
  margin-right: 54px;
  font-family: 'Poppins', sans-serif;  
  border-radius: 3px;
  border: none;
  font-size: 21px;
  width: 300px;
  -webkit-transition: width .35s ease-in-out;
  transition: width .35s ease-in-out;
  
}

.searchBar:focus {
  width: 500px;
}


actionBar{
  margin-left: 144px;
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 21px;
  
}

actionBar > *{
  padding: 13px;
  padding-left: 21px;
  padding-right: 21px;
  cursor: pointer;
  border-radius: 8px;

}
actionBar > *:hover{
  box-shadow: 1px 1px 20px 1px rgba(0,0,0,0.10);
}



action {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  width: 50%;
  height: 50%;
  font-family: 'Poppins', sans-serif;
  border: firebrick;
  border-style: dotted;
  align-self: center;
}

people {
display: flex;
flex-direction: row;
border-radius: 5px;
width: 50%;
height: 50%;
font-family: 'Poppins', sans-serif;
background-color: brown;
align-self: center;
}



setting {
display: flex;
flex-direction: column;
border-radius: 5px;
width: 50%;
height: 50%;
font-family: 'Poppins', sans-serif;
align-self: center;
background-color: blueviolet;
}



newElement{
  display: inline-block;
  position: fixed;
  resize: both;
  border-radius: 13px;
  border: 3px solid red;
}


/* Closable button inside the container tab */
.closebtn {
  float: right;
  font-size: 35px;
  cursor: pointer;
}


.item{
height: 50px;
width: 50px;
position: absolute;
background-color: gold;
}


.resizer{
position: absolute;
width: 10px; 
height: 10px;
background-color: black;
z-index: 2;
border-radius: 3px;
}

.resizer.nw{
top:-1px;
left:-1px;
cursor: nw-resize;
}

.resizer.ne{
top:-1px;
right:-1px;
cursor: ne-resize;
}

.resizer.sw{
  bottom:-1px;
  left:-1px;
  cursor: sw-resize;
}

.resizer.se{
    bottom:-1px;
    right:-1px;
    cursor: se-resize;
}

h1{
    font-family: 'Bai Jamjuree', sans-serif;

  font-size: 34px;
}